<div class="text-center">
  <div class="flex flex-col text-blue-600 font-bold">

    <h1 class="text-6xl font-black m-10">Hello I'm Stephen</h1>

    <p class="mb-10">I'm a Chartered Surveyor and Ruby on Rails web developer</p>

    <p class="mb-10">I live in Macclesfield and work all over</p>

    <p class="mb-10">I have more than 16 years experience working in the property sector</p>

    <p class="mb-10">I work with commerical, retail, industrial and residential clients</p>

    <p class="mb-10">I can deliver small or large projects</p>

    <p class="mb-10">I have experience working in the dangerous cladding sector post-Grenfell</p>

    <p class="mb-10">I'm comfortable project managing major loss insurance works</p>

    <p class="mb-10">I'm proficient in four languages - HTML, CSS, Javascript and Ruby</p>

    <p class="mb-10">I like to problem solve</p>

    <p class="mb-10">I innovate</p>

    <p class="mb-10">I lead others</p>

    <p class="mb-10">I'm contactable at hello[at]stephenbiggs.co.uk</p>

  </div>
</div>

