<div class="flex flex-wrap">

  <div class="w-full sm:w-full md:w-1/3 lg:w-1/4 xl:w-1/4 bg-white lg:min-h-screen p-8 md:fixed">
    <h1 class="text-6xl font-bold mb-8">Biggs</h1>
    <p class="mb-8">Stephen Biggs is a Chartered Surveyor and Ruby on Rails web developer from Manchester</p>
    <p class="mb-4">+44 (0)7957941524</p>
    <p class="mb-4">hello@stephenbiggs.co.uk</p>
    <a href="mailto:hello@stephenbiggs.co.uk" class="btn-blue">Say Hello!</a>
  </div>

  <div class="w-full sm:w-full md:w-2/3 lg:w-3/4 xl:w-3/4 bg-yellow-300 lg:min-h-screen md:absolute md:top-0 md:right-0 flex flex-wrap">
   
    <div class="w-full sm:w-full lg:w-1/2">
      <div class="w-full h-full object-cover"><%= image_tag('building.jpg') %></div>
    </div>
    <div class="w-full sm:w-full lg:w-1/2 p-8 md:p-6 xl:p-10">
      <h2 class="lg:text-2xl xl:text-4xl font-bold mb-4">Building Surveyor</h2>
      <p class="mb-4 lg:text-sm xl:text-base">More than 15 years experience providing technical services to residential, retail, commercial and industrial clients.</p>
      <p class="mb-4 lg:text-sm xl:text-base">Fluent in design, specification and defect diagnosis with experience in major loss reinstatement.</p>
    </div>

    <div class="w-full sm:w-full lg:w-2/6 p-8 md:p-6 xl:p-10">
      <h2 class="lg:text-2xl xl:text-4xl font-bold mb-4">Project Manager</h2>
      <p class="mb-4 lg:text-sm xl:text-base">Overseen projects from inception to completion ranging in value up to £25m.</p>
      <p class="mb-4 lg:text-sm xl:text-base">Experienced in contract admin, cost control and general project co-ordination.</p>
    </div>
    <div class="w-full sm:w-full lg:w-4/6">
      <div class="w-full h-full object-cover"><%= image_tag('stairs.jpg') %></div>
    </div>

  </div>

</div>
