

<div class="flex justify-center py-10">
  <%= image_tag('biggs.jpg', class: "w-48 h-48 rounded-full") %>
</div>


<div class="bg-white">
  <div class="max-w-screen-xl mx-auto text-center sm:px-6 lg:py-2 lg:px-8">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Stephen Biggs
    </h2>
  </div>
</div>

<div class="py-12 bg-white">
  <div class="max-w-xl mx-auto px-4 sm:px-6 lg:max-w-screen-xl lg:px-8">
    <div class="lg:grid lg:grid-cols-3 lg:gap-8">
      <div>
        <div class="mt-5">
          <h5 class="text-lg leading-6 font-medium text-gray-900">Chartered Surveyor</h5>
          <p class="mt-2 text-base leading-6 text-gray-500">
            With more than 15 years experience of private practise consulting delivering technical services for clients with housing, commercial, industial and retail interest.
          </p>
        </div>
      </div>
      <div class="mt-10 lg:mt-0">
        <div class="mt-5">
          <h5 class="text-lg leading-6 font-medium text-gray-900">Project Manager</h5>
          <p class="mt-2 text-base leading-6 text-gray-500">
            Experienced in project delivery for both large and small instructions. 
          </p>
        </div>
      </div>
      <div class="mt-10 lg:mt-0">
        <div class="mt-5">
          <h5 class="text-lg leading-6 font-medium text-gray-900">Full Stack Web Developer</h5>
          <p class="mt-2 text-base leading-6 text-gray-500">
            Specialises in Ruby on Rails, HTML, CSS and a sprinkle of JavaScript, building web products for startups.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>